.loading {
  border: 17px solid black;
  border-top: 17px solid darkgrey;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 45%;
  animation: endlessSpin 1.5s linear infinite;
  -webkit-animation: endlessSpin 1.5s linear infinite;

}

@keyframes endlessSpin {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}

@-webkit-keyframes endlessSpin {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}


/* Main page will slide up when data is ready */
.App {
  animation: slideUp 1s;
  position:relative;
}

@keyframes slideUp {
  0% {
    bottom: -300px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
